<div class="container">
  <h1>F.R.I.E.N.D.S Episodes</h1>
  <div class="cards">
    <%#= link_to @episode.title, episode_path(episode) %>
  </div>
  <%#= link_to "Add an Episode", new_episode_character_path(@episode), class: 'btn btn-primary' %>
</div>
