<div class="container">
  <img src="https://i.pinimg.com/originals/1b/cc/67/1bcc6725b755f5875cecfc0fbf3ebf8f.jpg" alt="friends logo" class="img-logo">
</div>

<div class="container">
  <%= link_to "Add New Episode", new_episode_path, class: "btn btn-primary btn-new-episode" %>
  <div class="cards">
    <% @episodes.each do |episode| %>
      <% @path = episode.photo.key %>
      <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= cl_image_path @path, crop: :fill %> )">
        <p><%= link_to episode.title, episode_path(episode) %></p>
      </div>
    <% end %>
  </div>
</div>
