<div class="container">
  <img src="https://i.pinimg.com/originals/1b/cc/67/1bcc6725b755f5875cecfc0fbf3ebf8f.jpg" alt="friends logo" class="img-logo">
  <%= link_to "Episodes", episodes_path  %>
</div>
