// .btn-new-episode {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: #ADA2E0;
//   transition: background 0.3s ease;
//   position: relative;
//   left: 50%;
//   right: 50%;
//   transform: translate(-50%, -50%);
// }

// .btn-new-episode:hover {
//   background: #8577c6;
//   color: white;
// }

.btn-new-episode {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 3px solid #494949 !important;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  margin-bottom: 32px;
}

.btn-new-episode:hover {
  color: #ffffff !important;
  text-decoration: none;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.btn-add{
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 3px solid #494949 !important;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  margin-bottom: 32px;
}

.btn-add:hover {
  color: #ffffff !important;
  text-decoration: none;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}
